<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Autoliveshop - Bem-vindo!</title>
</head>
<body>
    <div class="container" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <h1 style="font-size: 30px; font-family: Arial, Helvetica, sans-serif; color: white;">Seja bem vindo(a)!</h1>
        <p style="font-size: 20px; font-family: Arial, Helvetica, sans-serif; color: white;">Já possui conta?</p>
        <button id="entrar" style="width: 60%;">Entrar</button>
        <p style="font-size: 20px; font-family: Arial, Helvetica, sans-serif; color: white;">Novo por aqui?</p>
        <button id="registrar" style="width: 60%;">Cadastrar</button>
        <p style="font-size: 10px; font-family: Arial, Helvetica, sans-serif; color: white;">Criado por: Victor Tahan Rocha</p>
    </div>
</body>
<script src="/static/logineregistro.js"></script>
</html>